__pycache__
.ipynb_checkpoints
.vscode
.DS_Store
scipostlayout
raw
output
*.egg-info/
*.wandb
ckpts/
download
*.pt
*.pth.tar
run_openai.sh
*.sh.o*
*venv/
lr_0.0002_max_iter_22500
lr_0.00002_max_iter_22500
layoutlmv3-base
dit-base-224-p16-500k.pth
results
result_dir
datasets
grid
mmd
wandb
